.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #bf1f75;
}
.nav-pills .nav-link {
    border-radius: 0;
    color: #bf1f75;
    background-color: #e3e3e3;
}
.modal-header .close {
    opacity: 1;
    font-size: 25px;
}
.modal-table {
    @media (max-width:500px) {
        display: block;
    }
    tr {
        @media (max-width:500px) {
        display: block;
        margin-bottom: 15px;
    }
    }
    td {
        vertical-align: baseline;
        padding: 7px;
        &:first-child {
            width: 130px;
        }
        @media (max-width:500px) {
            display: block;
            padding: 0 7px;
        }
    }
}